@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Neuton:wght@300&family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    
}

html{
    overflow-x:hidden;
    width:100%;
    height:100%
}

header{
    padding-left: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.cabeca__links {
    font-family: 'Young Serif', serif;
    color: white;
    text-decoration: none;
    font-size:1.5em;
}

.cabeca__links:hover{
    color:#e2e2e4;
}

body {
    background-image: url("background.png");
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

main{
    padding-top:1%;
    padding-left: 8%;
    padding-right: 4%;
    display:flex;
    flex-direction: row;
    gap:8%;
}

.presentation{
    display:flex;
    flex-direction: column;
    width:75%;
    gap:0.4rem;
}

.title{
    font-size:4.2rem;
    color:#e1b5a2;
    font-family: 'Lilita One', sans-serif;

}

.text{
    font-family: 'Young Serif', serif;
    font-size:2rem;
    color:white;
    text-align: justify;
    text-justify: inter-word;
}

.number{
    color:#e1b5a2;
    text-decoration: none;
}

.number:hover{
    color:#ba7465;
}

img{
    width:21.125rem;
    height:30.25rem;
}

.socialMedia{
    display:flex;
    flex-direction: column;
    padding-top:3%;
    padding-bottom:10%;
    padding-left:7.5%;
    gap:1rem;

}

.socialMedia__links{
    display:flex;
    justify-content:center;
    border-style:solid;
    border-color:white;
    border-radius: 1rem;
    background-image: linear-gradient(to right,#095360, #093b54);
    color: white;
    width: 18rem;
    text-decoration:none;
    font-size:1.5rem;
    box-shadow: 0.23rem 0.23rem 0.5rem -0.3rem rgb(88, 82, 96);
    font-family: 'Young Serif', serif;
}

.socialMedia__links:hover{
    background-image: linear-gradient(to right,#155d6f,#0f3c5c);
}

a:visited{
    color:white;
}

@media(max-width:1119px) {

    body{
        background-image: url("background2.png");
    }
    header{
        justify-content: center;
        padding-left:0;
    }

    .cabeca__links{
        font-size:1rem;
    }

    main {
        flex-direction: column-reverse;
        align-items:center;
        gap:10px;
        padding-bottom:12%;
        padding-top:10%;
    }

    .presentation{
        padding-top: 1rem;
        gap:2rem;

    }

    .title{
        font-size:2.5rem;
    }

    .text {
        font-size:1.25rem;
        
    }

    img {
        align-content:center; 
        width:8.4rem;
        height:12rem;
    }

    .socialMedia {
        align-items:center;
        gap:0.5rem;
        padding-top:0rem;
        padding-bottom:12%;
    }

    .socialMedia__links {
        font-size: 1rem;
        width:55%;
    }
}
